@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
}
.nav_bar {
	background-color: #424242;
	font-size: 16px;
	color: #ffffff;
	width: 100%;
	height: 12%;
	margin: 0;
}
.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.internal_links {
	display: table-cell;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
	text-decoration: none;
	color: #ffffff;
	vertical-align: middle;
	margin: auto;
}
.internal_links:hover {
	border-bottom: 2px solid #e80109;
}
.main_body {
	background-color: #242424;
	width: 100%;
	height: 88%; 
	text-align: center; 
	display:flex;
	justify-content:center;
	align-items:center;

}
#index.main_text {
	font-weight: bold;
	font-size: 48px;
	color: #ffffff; 
}
#index.second_text {
	display: inline-block;
	margin-top: 10px;
	font-size: 28px; 
	color: #cccccc; 
}
#index.third_text {
	display: inline-block;
	margin-top: 10px;
	font-size: 24px; 
	color: #cccccc; 
}
#index.side_buttons { 
	width: 200px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid #e80109;
	background-color: #e80109;
	color: #cccccc; 
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;	
	margin-top: 15px;
}
#index.side_buttons:hover {
	color: #ffffff;