html, body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
}
.nav_bar {
	background-color: #424242;
	font-size: 16px;
	color: #ffffff;
	width: 100%;
	height: 15%;
	margin: auto;
}
.main_body {
	background-color: #242424;
	width: 100%;
	height: 90%;
	text-align: center;
}
.internal_links {
	height: 100%;
	text-decoration: none;
	color: #ffffff;
	vertical-align: middle;
	line-height: 90px; 
	margin: auto;
}
.internal_links:hover {
	border-bottom: 2px solid #D31E0D;
}