@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* General */
html{
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
}
.body {
	padding: 1vh 5vh 5vh 5vh;
	color: white !important;
	min-height: 100%;
}
body {
	margin: 0px;
}
body a {
	color: #51BDFF;
}
body a:hover {
	color: #51BDFF;
	text-decoration: underline;
}
h1 {
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	text-shadow: 0px 0px 5px #000;
}
h2 {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	text-shadow: 0px 0px 5px #000;
}
h3 {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	margin-top: 15px;
	text-shadow: 0px 0px 5px #000;
}
main {
    display: inline-block !important;
    text-align: center;
	width: 100%;
	justify-content: center;
}

/* Header */
#header-1, #header-2 {
	width: 100%;
	height: 12vh;
	margin-bottom: 50px;
}
#logo {
	float: left;
	height: 50px;
	width: 55px;
	margin-top: 20px;
	transition: transform 1s;
}
#logo:hover {
	transform: rotateY(180deg);
}
#nav {
	float: right;
	display: table;
	background-color: transparent;
	font-size: 16px;
	color: #ffffff;
	height: 100%;
}
.internal_links {
	display: table-cell;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 400 !important;
	height: 100%;
	text-decoration: none;
	color:white;
	text-shadow: 0px 0px 5px #000;
	vertical-align: middle;
	margin: auto;
	font-weight: 200;
}
.internal_links:hover {
	text-decoration: none;
	color: white;
	border-bottom: 2px solid #e80109;
}
/* Hamburger nav */
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
	box-shadow: 0px 0px 5px #e80109;
	margin-top: 15px !important;
	margin-bottom: 2px !important;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: inherit !important;
    align-items: inherit !important;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem !important;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
	margin-bottom: 0;
	background-color: rgba(219, 219, 219, 0.82) !important;
	list-style: none;
	box-shadow: 0px 0px 5px #e80109;
	border-radius: 3% 0px 3% 3%;
	text-align: end !important;
}
.navbar-nav .nav-link {
    color:white;
	text-shadow: 0px 0px 5px #000;
	padding-right: 15px !important;
}
.navbar-nav .nav-link:hover {
    border-bottom: 2px solid #e80109;
}

/* Home */
#home {
	background: url(images/basketball_wallpaper.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	object-fit: contain;
	z-index: -1;
}
.image_wrapper {
	display: inline-block;
	width: 100%;
	margin-top: -80px;
	text-align: center;
}
.profile_pic {
	height: 200px;
	margin: 60px;
    padding-top: 20px;
	justify-content: center;
}
.side_buttons { 
	height: 50px;
	border-radius: 5px;
	border: none;
	background-color: #e80109;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 15px 15px;
}
.side_buttons:hover {
	color: #fff;
	background-color: black;
	border: none;
}

/* Contact */
#contact {
	background: url(images/contact_wallpaper.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	object-fit: contain;
	z-index: -1;
}
#social_icons {
	padding-left: 0px;
}
#social_icons li {
	display: inline;
	padding: 25px;
}
#social_icons img {
	padding: 10px;
}
#social_icons a:hover {
	color: transparent; 
}
#email {
	margin-top: 25px;
	height: 64px;
	background-color: #ff1433;
	color: #3E3E3E;
	border: none;
	border-radius: 50px;
}
#email:hover {
	background-color: black;
}

/* Resume */
#resume {
	background: url(images/resume_wallpaper.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	object-fit: contain;
	z-index: -1;
}
#resume.download {
	height: 52px;
	width: 320px;
	background-color: white;
	margin-top: 25px;
	color: #3E3E3E;
	font-size: 24px;
	border: none;
	border-radius: 50px;
}
#resume.download:hover {
	color: #1c1c1c;
}

/* NBA Draft HTML*/
#nba_draft {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	object-fit: contain;
	z-index: -1;
	background: url(images/nba_draft_wallpaper.jpg) no-repeat center center fixed;
}
.nba_draft_icons {
	font-size: 48px; 
}
#nba_draft h3{
	font-size: 28px;
	color: white;
	text-shadow: 0px 0px 5px #000;
	text-shadow: 0px 0px 5px #000;
}
#nba_draft h3:hover{
	color: white;
	text-shadow: 0px 0px 5px #000;
	font-weight: bold;
}
#nba_div, #reddit_twitter {
    margin-top: 30px;
}
#nba-draft-list a, #reddit_twitter a:hover {
	text-decoration: none;
}



/* About */
#about{
	background: url(images/about_wallpaper.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	object-fit: contain;
	z-index: -1;
}
#about_me {
	margin: 0 auto;
	height: 255px;
  	max-width: 1100px;
}
#about_title  {
	margin-bottom: 30px;
	text-align: center;
}
#about_pic {
	float: left;
	margin-right: 30px;
}
#about_icon { 
	font-size: 72pt;
	text-shadow: 0px 0px 4px #000;
}
#about_icon.active {
	color: black;
}
#about_icons {
	height: 100%;
	display: flex;
	flex-direction: row; 
	justify-content: space-between; 
	list-style-type: none;
}
#about_icons li {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 10px;
}
#about_icons i {
	color: red;
}
#about_icons i:hover {
	color: black; 
}
.about_div {
	display: none;
	text-shadow: 0px 0px 2px #000;
	padding: 30px;
}

/* Projects */
#projects_body {
	background-color: #242424;
	object-fit: contain;
	z-index: -1;
	color: white;
	text-align: left;
}
.blog_header {
  padding-bottom: 50px;
  text-align: center;
}
.blog_title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog_description {
  font-size: 20px;
  color: gray;
}
.sticky-top {
	top: 20px;
}
.blog_main {
  font-size: 18px;
  line-height: 1.5;
}
#projects_main { 
	text-align: left;
}
.sidebar_module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar_module_inset {
  padding: 15px;
  background-color: #424242;
  border-radius: 4px;
  
}
.sidebar_module_inset p:last-child,
.sidebar_module_inset ul:last-child,
.sidebar_module_inset ol:last-child {
  margin-bottom: 0;
}
.col-sm-8 {
	padding-left: 30px;
}
.blog_post_title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog_post_meta {
  margin-bottom: 20px;
  color: #999;
}
.blog_post_preview {
	-webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
.blog_post {
	padding-bottom: 30px;
}
#projects_footer {
  padding: 15px;
  padding-left: 5vh;
  margin: -1vh -5vh -5vh -5vh;
  background-color:#424242;
}
.step-text {
	color: red;
}

/* NBA Draft Folder */
#header-3, #header-4 {
	width: 100%;
	height: 14vh;
	background-color: #242424;
	padding: 1vh 5vh
}
.nav-toggler {
	box-shadow: 0px 0px 5px #e80109;
	margin-top: 15px !important;
}
#logo-2 {
	float: left;
	height: 50px;
	width: 55px;
	margin-top: 20px;
}
#big_board.title_text {
	padding: 15px;
	color: #fff; 
	font-size: 48pt;
	text-align: center; 
}	
#big_board.tier_text {
	color: #ff1433;
	font-size: 22pt;
	font-weight: bold;
}
#big_board.tier_break {
	margin: 0px -50px;
	color: #ccc;
	background-color: #ccc;
	border: none;
	height: 15px;
}
#big_board.player_name {
	font-weight: bold;
	font-size: 18pt;
	margin: 0;
	padding: 10px 0 5px 0;
}
#big_board.category {
	font-weight: bold; 
	font-size: 22pt;
	display: inline-block;
}
#big_board.comp {
	font-style: italic;
	font-weight: bold;
	color: #52d273;
}
a#big_board {
	color: orange;
}
a#big_board:visited {
	color: orange;
}
.accordion {
  font-family: 'Open Sans', sans-serif;
  background-color: #424242;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.4s;
  /*border-bottom: 1px solid #c9c9c9;*/
}
.accordion.active, .accordion:hover {
  background-color: #242424; 
}
.panel {
  padding: 5px 5px 18px 5px;
  display: none;
  background-color:#424242;
  overflow: hidden;
}
/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
  background-color: #242424;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
/* Style the buttons inside the tab */
.tab button {
  color: #fff;
  background-color: #242424;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 16pt;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ff1433;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ff1433;
}
/* Style the tab content */
.tabcontent {
  color: #fff;
  text-align:left;
  font-size: 14pt;
  display: none;
  padding: 20px 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  border-top: none;
}
.old_panel {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px 30px;
  display: none;
  background-color:#424242;
  overflow: hidden;
}
#big_board.disclaimer {
	padding-left: 5px; 
	padding-right: 5px;
	color: #ccc;
	font-size: 14pt;
}

/* media-queries */
@media screen and (min-width: 0px) {
	#header-1, #header-3 {
		display: none;
	}
	#header-2, #header-4 {
		display: block;
	}
	h1 {
		font-size: 36px;
	}
	h2, #about_basketball {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	#email {
		font-size: 16px;
    	width: 195px;
	}
	.side_buttons {
		width: 150px;
		font-size: 15px;
	}
	#about_pic {
		margin: 15px;
		height: 190px;
		width: 190px; 
	}
	#resume_main {
		margin-top: 50px;
	}
	#big_board.body {
		height: 100%;
		width: 90%;
		margin: 0 auto;
		font-size: 12pt;
		border-radius: 5px;
		background-color: #424242;
		color: #000;
		overflow: auto;
	}
	.blog-pic {
		width: 20vh;
	}
	.blog-pic-large {
		width: 25vh;
	}
}
@media screen and (min-width: 370px) {
	h1 {
		font-size: 40px;
	}
	h2, #about_basketball {
		font-size: 26px;
	}
	h3 {
		font-size: 22px;
	}
	#email {
		font-size: 22px;
		width: 270px;
	}
	.side_buttons {
		width: 200px;
		font-size: 18px;
	}
	#about_pic {
		height:225px;
		width: 225px; 
	}
	.blog-pic {
		width: 30vh;
	}
	.blog-pic-large {
		width: 35vh;
	}

}
@media screen and (min-width: 560px) {
	#header-1, #header-3 {
		display: block;
	}
	#header-2, #header-4 {
		display: none;
	}
	#email {
		font-size: 32px;
		width: 420px;
	}
	h2, #about_basketball {
		font-size: 26px;
	}
	.about_text {
		text-align: justify;
	}
	#big_board.body {
		height: 100%;
		width: 60%;
		margin: 0 auto;
		font-size: 12pt;
		padding-left: 50px;
		padding-right: 50px;
		background-color: #424242;
		color: #000;
		overflow: auto;
	}
	.blog-pic {
		width: 60vh;
	}
	.blog-pic-large {
		width: 70vh;
	}
}
@media screen and (min-width: 670px) {
	h1 {
		font-size: 48px;
	}
	h2, #about_basketball {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	#email {
		font-size: 32px;
		width: 560px;
	}
	#nba_div {
		display: flex;
		justify-content: center;
	}
	#nba-draft-list {
		width: 50%;
	}
	#nba-draft-list a {
		margin: 5px; 
	}
	#reddit_twitter {
		width: 50%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	#reddit_twitter a {
		margin: 5px; 
	}
}
@media screen and (min-width: 670px) and (max-width: 950px) {
	#about_icon {
		font-size: 48pt;
	}
	#about_icons {
		height: 50%;
	}
	#about_pic {
		float: none;
	}
	.blog-pic {
		width: 50vh;
	}
	.blog-pic-large {
		width: 60vh;
	}
}
@media screen and (max-width: 670px) {
	#about_icon {
		font-size: 24pt;
	}
	#about_icons {
		height: 25%;
	}
	#about_pic {
		float: none;
	}
	#projects_body {
		margin-left: -2vh;
		margin-right: -2vh;
	}
}